<app-navbar></app-navbar>
<div class="horizontal">
    <div class="main">



        <!-- SEARCH FILTERS  -->

        <!-- <div class="searchBar horizontal secondaryLightBg"> -->

            <!-- <div class="horizontal searchType primaryLightBg">
        <img class="icon" src="../../assets/user.svg">
        <input placeholder="Search by Friends" >
        <img class="dropdown inActive" src="../../assets/dropdown.svg">
    </div> -->

            <!-- <div class="horizontal searchType primaryLightBg">
                <img class="icon" src="../../assets/search-solid.svg">
                <input type="text" placeholder="Search by Routine" [(ngModel)]="filterTerm">

                <img class="dropdown inActive" src="../../assets/dropdown.svg">
            </div> -->

            <!-- <div class="horizontal searchType primaryLightBg">
        <img class="icon" src="../../assets/location.svg">
        <input placeholder="Search by Location">
        <img class="dropdown inActive" src="../../assets/dropdown.svg">
    </div> -->

            <!-- <div>
                <button class="searchBtn primaryDarkBg primaryLight">Search</button>
            </div>

        </div> -->



        <!-- SEARCH BY ROUTINE  -->
        <div class="vertical">
            <div class="heading section friendsList">Routines </div>

            <div class="horizontal friendsList">
                <div class="cardSection horizontal secondaryLightBg">
                    <div class="horizontal">

                        <div *ngFor="let routine of allRoutines | filter:filterTerm">

                            <div class="cardCont vertical primaryLightBg section cardBody">


                                <div><img class="cardImg"  (click)=onSelect(routine.routineid) src="../../assets/img.jfif"></div>
                                <div class="routineName">{{routine.title}}</div>
                                <div class="card-desc inActive">{{routine.duration}}</div>
                                <button (click)=onSelect(routine.routineid)
                                    class="activeBtn primaryDarkBg primaryLight section">More Details</button>
                                <button (click)=subscribeRoutine(routine.routineid)
                                    class="activeBtn primaryDarkBg primaryLight section">subscribe</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <img class="nextBtn" src="../../assets/arrow_btn.svg"> -->
            </div>

            <!-- <div *ngIf="isRoutine" class=" friendsList ">
                <div class="cardSection vertical secondaryLightBg">
                    <div class="horizontal primaryLightBg cardBody">
                        <div><img class="image" src="../../assets/img.jfif"></div>
                        <div class="vertical routineDetails">
                            <div class="horizontal row ">
                                <div>
                                    <div class="heading">Routinename</div>
                                    <div class="desc">duration</div>
                                </div>

                            </div>

                            <div class="desc inActive">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                                blandit
                                facilisis tellus commodo em ipsum dolor sit amet, consectetur adipiscing
                                elit. Nunc blandit facilisis tellus, at commodo Lorem
                            </div>

                            <div class="btns section">
                                <button class="activeBtn primaryDarkBg primaryLight">More Details</button>
                                <button class="activeBtn">Unsubscribe</button>
                            </div>

                        </div>
                    </div>

                    <div class="heading section">Youtube Videos</div>

                    <div class="horizontal section">
                        <div class="card primaryLightBg">
                            <div><img src="../../assets/img.jfif"></div>
                            <div class="heading section">Youtube video name</div>
                            <div class="subscribers inActive">100k Views</div>
                        </div>
                    </div>

                </div>
            </div> -->

        </div>

        <!-- SEARCH BY FRIENDS  -->



        <div class="vertical">

            <div class="heading section friendsList">Friends</div>
            <div>

                <div class="horizontal friendsList">

                    <div class="cardSection horizontal secondaryLightBg">
                        <div *ngFor="let friend of allFriends" class="card vertical primaryLightBg">
                            <div><img class="card-img" src="../../assets/profile.svg"></div>
                            <div class="routineName">{{friend.firstname}}</div>
                            <button (click)="generateRoutineDetailsOfUser(friend)"
                                class="activeBtn primaryDarkBg primaryLight">More Details</button>
                        </div>
                    </div>

                    <!-- <img class="nextBtn" src="../../assets/arrow_btn.svg"> -->
                </div>

                <div *ngIf="isTrue" class=" friendsList ">
                    <div class="cardSection vertical secondaryLightBg">
                        <div class="horizontal primaryLightBg cardBody ">
                            <div class="profile"><img src="../../assets/profile.svg"> </div>
                            <div class="card-text">
                                <div class="heading">{{friendName}}</div>
                                <div class="desc inActive section">{{friendDescription}} </div>
                            </div>
                        </div>

                        <div class="heading section">Subscribed Routines</div>
                        <div class="horizontal">
                            <p *ngIf= "friendRoutines===undefined||!friendRoutines.length">doesnot subscribed for any routine</p>
                            <div *ngFor="let routine of friendRoutines"
                                class="cardCont vertical primaryLightBg section">
                                <div><img class="cardImg" src="../../assets/img.jfif"></div>
                                <div class="routineName">{{routine.title}}</div>

                                <div class="card-desc inActive">{{routine.description}}</div>
                                <!-- <div class="subscribers inActive">{{card.subscribers}} subscribers</div> -->
                                <button class="activeBtn primaryDarkBg primaryLight section" (click)=onSelect(routine.routineid)>More Details</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- SEARCH BY LOCATION -->

        <!-- <div  class="vertical">
        <div class="heading section friendsList">Location Name : Atlanta</div>
        <div class="horizontal friendsList">
            <div class="cardSection horizontal secondaryLightBg">
                    <div class="cardCont horizontal   cardBody">
                        <div ><img class="image" src="../../assets/img.jfif"></div>
                        <div class="vertical routineDetails">
                            <div class="routineName">Location Name</div>
                            <div class="desc inActive">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit
                                facilisis tellus commodo em ipsum dolor sit amet, consectetur adipiscing
                               elit. Nunc blandit facilisis  tellus, at commodo Lorem 
                            </div>
                            <div><button class="activeBtn primaryDarkBg primaryLight section">View Location</button></div>
                        </div>
                       
                    </div>
            </div>
        </div>

        </div> -->

    </div>
    <div class="sideCont">
        <app-sidebar></app-sidebar>
    </div>
</div>