<app-navbar></app-navbar>
<div class="horizontal">
    <div class="main">



        <!-- SEARCH FILTERS  -->

        <div class="searchBar horizontal secondaryLightBg">

            <div class="horizontal searchType primaryLightBg">
        <img class="icon" src="../../assets/user.svg">
        <input type="text" placeholder="search people" [(ngModel)]="friendFilter">
        <!-- <img class="dropdown inActive" src="../../assets/dropdown.svg"> -->
    </div>

            <div class="horizontal searchType primaryLightBg">
                <img class="icon" src="../../assets/search-solid.svg">
                <input type="text" placeholder="search routine" [(ngModel)]="filterTerm">

                <!-- <img class="dropdown inActive" src="../../assets/dropdown.svg"> -->
            </div>

            <div>
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Number</mat-label>
                      <input type="text"
                             placeholder="Pick one"
                             aria-label="Number"
                             matInput
                             [formControl]="myControl"
                             [matAutocomplete]="auto">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
            </div>
</div>

            <!-- <div class="horizontal searchType primaryLightBg">
        <img class="icon" src="../../assets/location.svg">
        <input placeholder="Search by Location">
        <img class="dropdown inActive" src="../../assets/dropdown.svg">
    </div> -->

            <!-- <div>
                <button class="searchBtn primaryDarkBg primaryLight">Search</button>
            </div>

        </div> -->



        <!-- SEARCH BY ROUTINE  -->
        

        <app-search-by-routine></app-search-by-routine>

        <!-- SEARCH BY FRIENDS  -->




        <app-search-by-friends></app-search-by-friends>

        <!-- SEARCH BY LOCATION -->

        <!-- <div  class="vertical">
        <div class="heading section friendsList">Location Name : Atlanta</div>
        <div class="horizontal friendsList">
            <div class="cardSection horizontal secondaryLightBg">
                    <div class="cardCont horizontal   cardBody">
                        <div ><img class="image" src="../../assets/img.jfif"></div>
                        <div class="vertical routineDetails">
                            <div class="routineName">Location Name</div>
                            <div class="desc inActive">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit
                                facilisis tellus commodo em ipsum dolor sit amet, consectetur adipiscing
                               elit. Nunc blandit facilisis  tellus, at commodo Lorem 
                            </div>
                            <div><button class="activeBtn primaryDarkBg primaryLight section">View Location</button></div>
                        </div>
                       
                    </div>
            </div>
        </div>

        </div> -->

    </div>
    <div class="sideCont">
        <app-sidebar></app-sidebar>
    </div>
</div>