.searchBar{
    padding: 20px 30px;
    border-radius: 20px;
    margin: 10px 10px 20px 30px;
}
.searchType{
    align-items: center;
    padding: 15px 25px;
    border-radius: 15px;
    margin-right: 20px;
    min-width: 25%;
    width: 28%;
}
input{
    border: none;
    font-family: poppins;
    
}
.icon{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}
.dropdown{
    height: 10px;
    width: 10px;
    margin-left: auto;
}

.searchBtn{
    font-size: 15px;
    font-weight: 500;
    font-family: poppins;
    text-align: center;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
}


.friendsList{
    align-items: center;
    margin-left: 30px;
}
.cardSection{
    padding: 20px;
    border-radius: 20px;
    width: 97%;
    margin: 20px 0px;
}
.nextBtn{
    height: 50px;
    width: 50px;
    margin-left: -25px;
    cursor: pointer;
}
.card{
    padding: 15px;
    border-radius: 10px;
    align-items: center;
}
.card-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.routineName{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}
.activeBtn{
    font-size: 13px;
    font-weight: 500;
    font-family: poppins;
    text-align: center;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
  }

  .cardBody{
      padding: 15px;
      align-items: center;
      border-radius: 20px;
  }

 

  .profile img{
      height: 150px;
      width: 150px;
      border-radius: 50%;
  }
  .cardImg{
      border-radius: 20px;
      width: 250px;
      height: 180px;
  }
  .desc{
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
  }
  .card-text{
      margin-left: 20px;
  }


.routineDetails{
    margin-left: 20px;
}

  .routineList{
    align-items: center;
}
.cardSection{
    padding: 20px;
    border-radius: 20px;
    width: 97%;
    margin: 20px 0px;
}
.nextBtn{
    height: 50px;
    width: 50px;
    margin-left: -25px;
    cursor: pointer;
}
.cardCont{
    padding: 15px;
    border-radius: 10px;
}

.routineName{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}

  .card-desc{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }
  .subscribers{
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
  }
 

  