<app-navbar></app-navbar>

<div class=" horizontal">

<div class="profileContainer">
    <div class="profileHeadContainer">
      <div class="profileHeadBackgoundBox"></div>
      <div class="profileHeadContentContainer">
        <img src="../../assets/profile.svg" alt="profileImage" class="profileIcon" />
        <div class="profileHeadContent">
          <div class="profileHeadContentHeader">
            <div class="profileName">{{name}}</div>
            <div class="editPrfoileBtn">
              <img src="../../assets/edit.svg" alt="edit icon" class="editIcon" />
              <p class="editProfileText">Edit Profile</p>
            </div>
          </div>
          <div class="profileDescription inActive">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            blandit facilisis tellus ipsum dolor sit amet, consectetur
            adipiscing elit. Nunc blandit facilisis telluslorem15 Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Dignissimos,
            deserunt.
          </div>
        </div>
      </div>
    </div>
    <div class="profileDetailsContainer ">
      <div class="sideHeading">Details</div>
      <div class="profielDetailsForm">
        <div  style="display: flex;flex-direction: row;width: 100%;justify-content: space-around;">
          <div style="width:45%" >
            <div class="inputContainer">
              <p class="inputTitle">Email*</p>
              <input
                type="email"
                value="example@gmail.com"
                class="ProfileDetatilsInputBox"
              />
            </div>
            <div class="inputContainer">
              <p class="inputTitle">Date of Birth*</p>
              <input
                type="email"
                value="01-05-1987"
                class="ProfileDetatilsInputBox"
              />
            </div>
          </div>
          <div style="width:45%">
            <div class="inputContainer">
              <p class="inputTitle">Phone Number*</p>
              <input
                type="email"
                value="8598658956"
                class="ProfileDetatilsInputBox"
              />
            </div>

            <div class="inputContainer">
              <p class="inputTitle">Gender*</p>
              <input
                type="email"
                value="Female"
                class="ProfileDetatilsInputBox"
              />
            </div>
          </div>
        </div>
        <div class="sideHeadingWithOutCircle">Full Address</div>
        <div style="display: flex;flex-direction: row;width: 100%;justify-content: space-around;">
          <div style="width:45%">
            <div class="inputContainer">
              <p class="inputTitle">street*</p>
              <input
                type="email"
                value="example@gmail.com"
                class="ProfileDetatilsInputBox"
              />
            </div>
            <div class="inputContainer">
              <p class="inputTitle">zip code*</p>
              <input
                type="email"
                value="01-05-1987"
                class="ProfileDetatilsInputBox"
              />
            </div>
          </div>
          <div style="width:45%">
            <div class="inputContainer">
              <p class="inputTitle">City*</p>
              <input
                type="email"
                value="8598658956"
                class="ProfileDetatilsInputBox"
              />
            </div>

            <div class="inputContainer">
              <p class="inputTitle">State*</p>
              <input
                type="email"
                value="Female"
                class="ProfileDetatilsInputBox"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profileAditionalDetailsContainer">
      <div class="sideHeading">
        Aditional <span style="margin-left: 5px">Details</span>
      </div>
      <div class="profileAditonalDetalsBox">
        <div>
          <p class="sideHeadingWithOutCircle">Delete Account</p>
          <div style="margin-top: 10px">
            <input type="text" placeholder="why?" class="inputReason" />
            <button class="deleteBtn primaryLight">Delete</button>
          </div>
        </div>
        <div style="margin-top: 10px">
          <p class="sideHeadingWithOutCircle" style="margin-bottom: 10px">
            Do you offer Personal Trainers ?
          </p>
          <div class=" horizontal">
            <div class="align"><input class="checkbox" type="checkbox" name="yes" id="yes" />yes</div>
          <div class="align"><input class="checkbox" type="checkbox" name="no" id="no" /><span>No</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sideCont">
    <app-sidebar ></app-sidebar>
</div>

</div>
