<div class="navbar primaryLightBg horizontal">

  
        <img class="logoSize" src="../../assets/logo.svg">
        <div>
            <span class="brandname_FirstLetter primaryDark">G</span><span class="brandname_LastLetter">et</span>
            <span class="brandname_FirstLetter primaryDark">F</span><span class="brandname_LastLetter">it</span>
            <span class="brandname_FirstLetter primaryDark">G</span><span class="brandname_LastLetter">o</span>
        </div>

        <img class="iconSize" src="../../assets/notifications.svg">
        <div routerLink="/profile" class="profileBtn horizontal secondaryLightBg">
            <img *ngIf="this._userdata.coverPic == ''" class="profile" src="../../assets/default_img.png">
            <img *ngIf="this._userdata.coverPic != ''" class="profile" src="{{coverPic}}">

            <div class="username">{{name}}</div>
            <img class="dropdown" src="../../assets/dropdown.svg">
        </div>
    

</div>
