<app-navbar></app-navbar>
<p class="no-routines" *ngIf=!routines.length>No Subscriptions found. Click &nbsp; <a routerLink='/search-page'>search
    </a>&nbsp; to look for subscriptions</p>

<!-- <button class="searchBtn primaryDarkBg primaryLight" (click)="openDialog()">open</button> -->




<div class=" horizontal" *ngIf=routines.length>
    <div class="mainCont">


        <!-- <div class="searchBar horizontal section secondaryLightBg"> -->

        <!-- <div class="horizontal searchType primaryLightBg">
                <img class="icon" src="../../assets/user.svg">
                <input placeholder="Search by Friends">
                <img class="dropdown inActive" src="../../assets/dropdown.svg">
            </div> -->
        <!-- 
            <div class="horizontal searchType primaryLightBg">
                <img class="icon" src="../../assets/search-solid.svg">
                <input placeholder="Search by Routine" [(ngModel)]="filterTerm">
                <img class="dropdown inActive" src="../../assets/dropdown.svg"> -->
        <!-- </div> -->

        <!-- <div class="horizontal searchType primaryLightBg">
                <img class="icon" src="../../assets/location.svg">
                <input placeholder="Search by Location">
                <img class="dropdown inActive" src="../../assets/dropdown.svg">
            </div> -->

        <!-- <div>
                <button routerLink="/search-page" class="searchBtn primaryDarkBg primaryLight">Search</button>
            </div> -->

        <!-- </div> -->
        <!-- <div>    Welcome {{user}}</div> -->
        <div class="heading">Subscribed Routines</div>





        <carousel [height]="250">

            <div *ngFor="let routine of routines;let i as index | filter:filterTerm" class="carousel-cell">
                <div>
                    <div><img class="card-img" (click)=onSelect(routine.routineid) src="../../assets/img.jfif">
                    </div>
                    <div class="routineName" (click)=onSelect(routine.routineid)>{{routine.title}}</div>

                    <div class="card-desc inActive">{{routine.description}}</div>
                    <div class="btns">
                        <button (click)=onSelect(routine.routineid) class="activeBtn primaryDarkBg primaryLight">More
                            Details</button>
                        <button class="activeBtn" (click)=unsubscribeRoutine(routine.routineid,i)>Unsubscribe</button>
                        <button class="activeBtn" *ngIf="routine.creatorid==getUserid()"
                            (click)=deleteRoutine(routine.routineid,i)>delete</button>
                    </div>
                </div>
                </ng-template>

                </owl-carousel-o>
            </div>
            <!-- <div *ngFor="let routine of routines;let i as index | filter:filterTerm">
                    <div class="card vertical primaryLightBg">

                        <div><img class="card-img" (click)=onSelect(routine.routineid) src="../../assets/img.jfif"></div>
                        <div class="routineName" (click)=onSelect(routine.routineid)>{{routine.title}}</div> -->
            <!-- <div class="horizontal displayProgress">
                    <div class=" progress">
                        <div [style.width.%]="routine.progress" class="progress-bar " role="progressbar"></div>
                    </div>
                    <div class="days">{{routine.progress}}</div>
                </div> -->
            <!-- <div class="subscribers inActive">{{routine.subscribers}} subscribers</div> -->
            <!-- <div class="card-desc inActive">{{routine.description}}</div>
                        <div class="btns">
                            <button (click)=onSelect(routine.routineid) 
                                class="activeBtn primaryDarkBg primaryLight">More Details</button>
                            <button class="activeBtn"
                                (click)=unsubscribeRoutine(routine.routineid,i)>Unsubscribe</button>
                            <button class="activeBtn"
                            *ngIf="routine.creatorid==getUserid()"
                                (click)=deleteRoutine(routine.routineid,i)>delete</button>
                        </div>
                    </div>
                </div> -->

            <!-- <img class="nextBtn" src="../../assets/arrow_btn.svg"> -->


            <div class="heading" style="width:600px; ">Calendar

                <ejs-calendar style="margin-left: 200px; " id=calendar [value]='value' [min]='minDate' [max]='maxDate'>
                </ejs-calendar>
            </div>


            <div>
                <div class="heading" style="margin: 15px 0px;">Recommendations</div>
                <ng-image-slider [images]="imageObject" #nav>
                </ng-image-slider>
            </div>

    </div>
    <!--  -->
    <div class="sideCont">
        <app-sidebar></app-sidebar>
    </div>


</div>