<app-navbar></app-navbar>

<div class=" horizontal">
    <div class="mainCont">

        <div class="searchBar horizontal section secondaryLightBg">

            <!-- <div class="horizontal searchType primaryLightBg">
                <img class="icon" src="../../assets/user.svg">
                <input placeholder="Search by Friends">
                <img class="dropdown inActive" src="../../assets/dropdown.svg">
            </div> -->

            <div class="horizontal searchType primaryLightBg">
                <img class="icon" src="../../assets/search-solid.svg">
                <input placeholder="Search by Routine" [(ngModel)]="filterTerm">
                <!-- <img class="dropdown inActive" src="../../assets/dropdown.svg"> -->
            </div>

            <!-- <div class="horizontal searchType primaryLightBg">
                <img class="icon" src="../../assets/location.svg">
                <input placeholder="Search by Location">
                <img class="dropdown inActive" src="../../assets/dropdown.svg">
            </div> -->

            <div>
                <button routerLink="/search-page" class="searchBtn primaryDarkBg primaryLight">Search</button>
            </div>

        </div>

        <div class="heading">Subscribed Routines</div>

        <div class="horizontal routineList" *ngIf="isDataLoaded">

            <div class="cardSection horizontal secondaryLightBg">
                <p *ngIf=!routines.length>doesn't subscribed for any routine please for subscribe for routine</p>
                <div *ngFor="let routine of routines;let i as index | filter:filterTerm">
                    <!-- {{routine.description}} -->
                    <div class="card vertical primaryLightBg">

                        <div><img class="card-img" src="../../assets/img.jfif"></div>
                        <div class="routineName">{{routine.title}}</div>
                        <!-- <div class="horizontal displayProgress">
                    <div class=" progress">
                        <div [style.width.%]="routine.progress" class="progress-bar " role="progressbar"></div>
                    </div>
                    <div class="days">{{routine.progress}}</div>
                </div> -->
                        <div class="card-desc inActive">{{routine.description}}</div>
                        <!-- <div class="subscribers inActive">{{routine.subscribers}} subscribers</div> -->
                        <div class="btns">
                            <button (click)=onSelect(routine.routineid) routerLink="/routine-details"
                                class="activeBtn primaryDarkBg primaryLight">More Details</button>
                            <button class="activeBtn"
                                (click)=unsubscribeRoutine(routine.routineid,i)>Unsubscribe</button>
                            <button class="activeBtn"
                            *ngIf="routine.creatorid==getUserid()"
                                (click)=deleteRoutine(routine.routineid)>delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <img class="nextBtn" src="../../assets/arrow_btn.svg">

        </div>



    </div>

    <div class="sideCont">
        <app-sidebar></app-sidebar>
    </div>

</div>