<form [formGroup]="routineForm">
    <input type="text" formControlName="title"><br>
    <input type="text" formControlName="description"><br>
    <input type="text" formControlName="duration"><br>
    <input type="text" formControlName="sbt1"><br>
    <input type="text" formControlName="sbd1"><br>
    <input type="text" formControlName="sbt2"><br>
    <input type="text" formControlName="sbd2"><br>
    <input type="text" formControlName="sbt3"><br>
    <input type="text" formControlName="sbd3"><br>
    <input type="text" formControlName="rft1"><br>
    <input type="text" formControlName="rfl1"><br>
    <input type="text" formControlName="rft2"><br>
    <input type="text" formControlName="rfl2"><br>
    <input type="text" formControlName="rft3"><br>
    <input type="text" formControlName="rfl3"><br>

    
    
    
    
    <br><br>
    <button type="submit" (click)="submit()">submit</button>
</form>