<app-navbar></app-navbar>

<div class=" horizontal">

<div  class="mainCont secondaryLightBg">

    <div *ngFor= "let detail of routineDetailsList" >
    <!-- ROUTINE DETAILS  -->
    <div *ngIf= "routineId == detail.routineid">

    <div  class="horizontal">
        <div><img class="image" src="../../assets/img.jfif"></div>
        <div class="vertical routineDetails">
            <div class="horizontal row " >
                <div>
                    <div class="heading">{{detail.title}}</div>
                    <div class="desc">{{detail.duration}}</div>
                </div>
                <!-- <div class="activeBtn primaryDarkBg primaryLight">
                    <div class="heading">{{this._dataService.userData[routineId].subscribers}}</div>
                    <div class="subscribers">Subscribers</div>
                </div> -->
            </div>
            
            <div class="desc inActive">{{detail.description}}</div>
            <div><button (click)="Subscribe()" class="activeBtn " style="background-color: lightgray;">unsubscribe</button></div>
         </div>
    </div>

    <!-- ROUTINE STRUCTURE  -->

    <!-- <div class="heading section">Routine Designer : {{this._dataService.userData[routineId].routineDesigner}}</div> -->
    <div class="desc">Set-1</div>

    <div  class="horizontal scroll">
    <div *ngFor = "let chip of detail.subtasks" >
    

        <div class="chip primaryLightBg">
            <div class="structureName">{{chip.title}}</div>
            <div class="subscribers inActive">{{chip.duration}} min</div>
        </div>
       </div>
    </div>

    <!-- YOUTUBE VIDEOS -->

    
    <div class="heading section">Youtube Videos</div>

    <div class="horizontal section" >
        <div *ngFor= "let link of detail.references ; let i=index" class="card primaryLightBg">
            <div><img src="../../assets/img.jfif"></div>
            <a target="_blank" href="{{link}}" class="heading section links">
                <div>{{link}}</div>
            </a>
            <div class="subscribers inActive">100k Views</div>
        </div>
    </div>

    
    <div class="heading section">Add your Comment</div>

    <div class="horizontal section commentSection ">
        <img class="profile" src="../../assets/profile.svg">
        <div class="primaryLightBg horizontal " >
            <div><input placeholder="Post your comment"></div>
            <img class="smile" src="../../assets/smile.svg">
        </div>
        
    </div>

    <!-- COMMENT SECTION -->

</div>
</div>
</div>
<div class="sideCont">
    <app-sidebar ></app-sidebar>
</div>

</div>

