<app-navbar></app-navbar>

<div class=" horizontal" *ngIf="isDataLoaded">

    <div class="mainCont secondaryLightBg">

        <!-- ROUTINE DETAILS  -->

        <div class="horizontal">
            <div><img class="image" src="../../assets/img.jfif"></div>
            <div class="vertical routineDetails">
                <div class="horizontal row ">
                    <div>
                        <div class="heading">{{routineDetailsList.title}}</div>
                        <div class="desc">{{routineDetailsList.duration}}</div>
                    </div>
                    <div style="display: flex;flex-direction: row;">
                        <button class="activeBtn primaryDarkBg primaryLight"
                            *ngIf="routineDetailsList['creatorid']==userId"
                            (click)="editRoutine(routineDetailsList['routineid'])">Edit</button>
                        <button class="activeBtn1 primaryDarkBg primaryLight"
                            *ngIf="routineDetailsList['creatorid']==userId"
                            (click)="deleteRoutine(routineDetailsList['routineid'])">delete</button>
                    </div>
                </div>

                <div class="desc inActive">{{routineDetailsList.description}}</div>
                <div *ngIf="!(routineDetailsList['creatorid']==userId)">
                    <button class="activeBtn " style="background-color: lightgray;" *ngIf="!checkeligibility()"
                        (click)="unsubscribeRoutine(routineDetailsList.routineid)">unsubscribe</button>
                    <button class="activeBtn " style="background-color: lightgray;" *ngIf="checkeligibility()"
                        (click)="subscribeRoutine(routineDetailsList.routineid)">subscribe</button>
                </div>
            </div>
        </div>

        <!-- ROUTINE STRUCTURE  -->

        <!-- <div class="heading section">Routine Designer : {{this._dataService.userData[routineId].routineDesigner}}</div> -->

        <div class="horizontal scroll">
            <div *ngFor="let chip of routineDetailsList.subtasks">


                <div class="chip primaryLightBg">
                    <div class="structureName">{{chip.title}}</div>
                    <div class="subscribers inActive">{{chip.duration}} min</div>
                </div>
            </div>
        </div>

        <!-- YOUTUBE VIDEOS -->


        <div class="heading section">Youtube Videos</div>

        <div class="horizontal section">
            <div *ngFor="let link of routineDetailsList.references ; let i=index" class="card primaryLightBg">
                <a target="_blank" href="{{link.link}}" class="heading section links">
                    <div><img src="../../assets/img.jfif"></div>
                    <div>{{link.title}}</div>
                </a>
                <div class="subscribers inActive">100k Views</div>
            </div>
        </div>

        <!--     
    <div class="heading section">Add your Comment</div>

    <div class="horizontal section commentSection ">
        <img class="profile" src="../../assets/profile.svg">
        <div class="primaryLightBg horizontal " >
            <div><input placeholder="Post your comment"></div>
            <img class="smile" src="../../assets/smile.svg">
        </div>
        
    </div> -->

        <!-- COMMENT SECTION -->

    </div>
    <div class="sideCont">
        <app-sidebar></app-sidebar>
    </div>

</div>