<div class="mainCont secondaryLightBg">

    <!-- ROUTINE DETAILS  -->

    <div class="horizontal">
        <div><img src="../../assets/img.jfif"></div>
        <div class="vertical routineDetails">
            <div class="horizontal row " >
                <div>
                    <div class="heading">Routinename</div>
                    <div class="desc">duration</div>
                </div>
                <div class="activeBtn primaryDarkBg primaryLight">
                    <div class="heading">50</div>
                    <div class="subscribers">Subscribers</div>
                </div>
            </div>
            
            <div class="desc inActive">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit
                facilisis tellus commodo em ipsum dolor sit amet, consectetur adipiscing
               elit. Nunc blandit facilisis  tellus, at commodo Lorem 
            </div>
            <div><button class="activeBtn primaryDarkBg primaryLight">Subscribe</button></div>
         </div>
    </div>

    <!-- ROUTINE STRUCTURE  -->

    <div class="heading section">Routine Designer : Sudarshan</div>
    <div class="desc">Set-1</div>
    <div class="horizontal">
        <div class="chip primaryLightBg">
            <div class="structureName">Suryanamaskara</div>
            <div class="subscribers inActive">5 min</div>
        </div>
        <div class="chip primaryLightBg">
            <div class="structureName">Suryanamaskara</div>
            <div class="subscribers inActive">5 min</div>
        </div>
        <div class="chip primaryLightBg">
            <div class="structureName">Suryanamaskara</div>
            <div class="subscribers inActive">5 min</div>
        </div>
        <div class="chip primaryLightBg">
            <div class="structureName">Suryanamaskara</div>
            <div class="subscribers inActive">5 min</div>
        </div>
    </div>

    <!-- YOUTUBE VIDEOS -->

    
    <div class="heading section">Youtube Videos</div>

    <div class="horizontal section" >
        <div class="card primaryLightBg">
            <div><img src="../../assets/img.jfif"></div>
            <div class="heading section">Youtube video name</div>
            <div class="subscribers inActive">100k Views</div>
        </div>
    </div>

    
    <div class="heading section">Add your Comment</div>

    <div class="horizontal section commentSection ">
        <img class="profile" src="../../assets/profile.svg">
        <div class="primaryLightBg horizontal " >
            <div><input placeholder="Post your comment"></div>
            <img class="smile" src="../../assets/smile.svg">
        </div>
        
    </div>

    <!-- COMMENT SECTION -->

</div>
